html {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

* {
  transition: all 300ms ease-in;
}

.bg-pry {
  background-color: #0053ac;
}

.bg-sec {
  background-color: #f88600;
}

.bg-light-sec {
  background-color: #f8860040;
}

.text-pry {
  color: #0053ac;
}

.text-sec {
  color: #f88600;
}

.bg-outline-pry {
  background: #fff;
  color: #0053ac;
}

.bg-outline-pry:hover {
  background: #043575;
  color: #fff;
}

.bg-black {
  background: #000;
}

.bg-svg {
  background: #fff4e7;
}

.text-black {
  color: #000;
}

.btn:focus {
  box-shadow: none;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media screen and (min-width: 992px) {
  .py-lg-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  .my-md-6 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}

@media screen and (min-width: 992px) {
  .my-lg-6 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media screen and (min-width: 768px) {
  .my-md-8 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }
}

@media screen and (min-width: 992px) {
  .my-lg-8 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }
}

.nav a {
  position: relative;
  transition: all 500ms ease;
}

.nav a:hover {
  text-decoration: none;
  color: #0053ac !important;
  right: 10px;
}

.hmpg {
  position: relative;
}

.hmpg .elt {
  width: auto;
  height: 50px;
}

.hmpg .header {
  background-size: cover;
  height: 650px;
}

@media screen and (min-width: 1600px) {
  .hmpg .header {
    height: 750px;
  }
}

@media screen and (min-width: 2000px) {
  .hmpg .header {
    height: 800px;
  }
}

.hmpg .header .container-fluid {
  height: 500px;
}

.hmpg .header .container-fluid .abs {
  position: relative;
  top: 80px;
}

@media screen and (min-width: 768px) {
  .hmpg .header .container-fluid .abs {
    top: 60px;
  }
}

.hmpg .header nav {
  padding: 20px 0;
}

.hmpg .header nav .hamburger {
  font-size: 35px;
}

.hmpg .header h1 {
  font-size: 30px;
}

@media screen and (min-width: 576px) {
  .hmpg .header h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hmpg .header h1 {
    font-size: 50px;
  }
}

.hmpg .header .wave {
  object-fit: cover;
  object-position: center bottom;
}

.hmpg .header .style__header .p-abs {
  height: 500px;
}

.hmpg .header .style__header .p-abs .top {
  position: relative;
  top: 80px;
}

.hmpg .header .style__header .p-abs a {
  font-size: 20px;
}

.hmpg .header .style__header .container .abs {
  top: 50px;
}

.hmpg .header .style__header .abs.tt {
  top: 20px;
}

.hmpg .cards #cards-tab {
  border-bottom: 1px solid #c4c4c4;
}

.hmpg .cards .card-body {
  background-color: #fff !important;
}

.hmpg .cards .audio:focus {
  border: none;
  outline: 0;
}

.hmpg .cards .seek {
  height: 2px;
  width: 50px;
}

@media screen and (min-width: 400px) {
  .hmpg .cards .seek {
    width: 100px;
  }
}

.hmpg .cards .seek .fill {
  background: #f88600;
  height: 2px;
}

.hmpg .cards .show__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f88600;
}

.hmpg .cards .dwn {
  transition: all 300ms ease-out;
  font-size: 14px;
}

.hmpg .cards .dwn:hover {
  background-color: #00448c;
}

.hmpg .cards .opacity-0 {
  opacity: 0;
}

.hmpg .cards .opacity-1 {
  opacity: 1;
}

.hmpg .articles a:hover {
  text-decoration: none;
}

.hmpg .articles a:hover .card {
  transform: scale(1.05);
}

.hmpg .articles .card-img-top {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.hmpg .articles .card-text {
  font-size: 14px;
}

.hmpg .audios .card-img-top {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hmpg .audios a:hover {
  text-decoration: none;
}

.hmpg .audios .rhap_container {
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.hmpg .audios .rhap_container svg {
  color: rgba(0, 0, 0, 0.7);
  width: 0.8em;
  height: 0.8em;
}

.hmpg .audios .rhap_container .rhap_additional-controls,
.hmpg .audios .rhap_container .rhap_volume-controls {
  display: none;
}

.hmpg .audios .rhap_container .rhap_controls-section {
  flex: 0 1 auto;
  margin-right: 0;
}

.hmpg .audios .rhap_container .rhap_progress-indicator {
  width: 12px;
  height: 12px;
  top: -4px;
}

.hmpg .audios .rhap_container .rhap_play-pause-button {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.hmpg .audios .rhap_container,
.hmpg .audios .rhap_container *:focus {
  outline: none;
}

.hmpg .prev,
.hmpg .next,
.hmpg .pg {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.hmpg .prev,
.hmpg .next {
  width: 45px;
  height: 45px;
  border: 1px solid gray;
}

.hmpg .prev:hover,
.hmpg .next:hover {
  border-color: #f88600 !important;
}

.hmpg .prev:hover i,
.hmpg .next:hover i {
  color: #f88600 !important;
}

.hmpg .pg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.hmpg .pg:hover {
  border: 1px solid #f88600;
}

.hmpg .pg.active {
  border-radius: 50%;
  background: #f88600;
  color: #fff;
}

.hmpg .profile {
  background-position: 0% 0% !important;
}

@media screen and (min-width: 768px) {
  .hmpg .profile {
    background-position: 50% 20% !important;
  }
}

.hmpg .profile .read-more:hover {
  background: #f8860040 !important;
  color: #000 !important;
}

.hmpg .profile .img1,
.hmpg .profile .img2 {
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 10%;
}

.hmpg .profile .img1 {
  width: 240px;
  height: 280px;
}

@media screen and (min-width: 1204px) {
  .hmpg .profile .img1 {
    width: 330px;
    height: 370px;
  }
}

.hmpg .profile .img2 {
  width: 180px;
  height: 200px;
  position: relative;
  left: 15%;
  top: 140px;
}

@media screen and (min-width: 1204px) {
  .hmpg .profile .img2 {
    width: 220px;
    height: 240px;
    top: 200px;
    left: 20%;
  }
}

.hmpg .profile__elton .wave {
  height: 100px;
}

.hmpg .be-parts {
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .hmpg .be-parts {
    margin-top: 80px;
  }
}

#scrollTop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#scrollTop:hover {
  cursor: pointer;
}

.header {
  overflow-x: hidden;
}

.header .style__header {
  position: relative;
}

.header .style__header .custom {
  width: 30%;
}

@media screen and (min-width: 576px) {
  .header .style__header .custom {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .header .style__header .custom {
    width: 65%;
  }
}

.header .style__header .custom,
.header .style__header .p-abs {
  padding-right: 3%;
}

@media screen and (min-width: 576px) {
  .header .style__header .custom,
  .header .style__header .p-abs {
    padding-right: 5%;
  }
}

@media screen and (min-width: 768px) {
  .header .style__header .custom,
  .header .style__header .p-abs {
    padding-right: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .header .style__header .custom,
  .header .style__header .p-abs {
    padding-right: 15%;
  }
}

.header .style__header .p-abs {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
}

@media screen and (min-width: 576px) {
  .header .style__header .p-abs {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .header .style__header .p-abs {
    width: 35%;
  }
}

.header .style__header .p-abs #cancel {
  top: 15px;
  position: relative;
}

.header .style__header .p-abs #cancel i {
  font-size: 35px;
}

.header .style__header .p-abs a {
  font-size: 20px;
}

.header .style__header h1 {
  font-size: 25px;
}

@media screen and (min-width: 576px) {
  .header .style__header h1 {
    font-size: 35px;
  }
}

.header .style__header .container .abs {
  top: 50px;
}

.header .style__header .abs.tt {
  top: 20px;
}

.header .custom {
  padding-left: 3%;
  padding-right: 3%;
}

@media screen and (min-width: 576px) {
  .header .custom {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 768px) {
  .header .custom {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .header .custom {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.header .progress-container {
  position: sticky;
  z-index: 10;
  background: #ccc;
  width: 100%;
}

.header .progress-container .progress-bar {
  background: #f88600;
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

.header .progress-container.sticky .progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header .progress-container .progress-container,
.header .progress-container .progress-bar {
  height: 10px;
}

.about-elton .header .container-fluid .abs {
  top: 50px;
}

@media screen and (min-width: 768px) {
  .about-elton .header .container-fluid .abs {
    top: 0;
  }
}

.about-elton .header .style__header .abs {
  top: 30px;
}

@media screen and (min-width: 768px) {
  .about-elton .header .style__header .abs {
    top: 50px;
  }
}

.testimonials .header .container-fluid .abs,
.article-details .header .container-fluid .abs,
.book-details .header .container-fluid .abs,
.testimony-details .header .container-fluid .abs {
  top: 30px;
}

.book-details .header .style__header .p-abs,
.article-details .header .style__header .p-abs,
.about-elton .header .style__header .p-abs,
.testimonials .header .style__header .p-abs,
.testimony-details .header .style__header .p-abs {
  height: 350px;
}

.book-details .header .container-fluid,
.article-details .header .container-fluid,
.about-elton .header .container-fluid,
.testimonials .header .container-fluid,
.testimony-details .header .container-fluid {
  height: 350px;
}

.book-details .details .book-img {
  max-height: 400px;
  max-width: 100%;
}

.book-details .details .border-bottom {
  border-bottom: 2px solid #f88600 !important;
}

.article-details .details h4 {
  font-size: 18px;
}

.article-details .details .content a {
  position: relative;
  left: 18px;
}

.article-details .details .content a::before, .article-details .details .content a::after {
  position: absolute;
  content: "";
}

.article-details .details .content a::before {
  width: 12px;
  height: 12px;
  background-color: #c4c4c4;
  border-radius: 50%;
  left: -18px;
  top: 6px;
}

.article-details .details .content a::after {
  width: 5px;
  height: 33px;
  background-color: #c4c4c4;
  left: -14px;
  top: 15px;
  z-index: -1;
}

.article-details .details .content a:first-child::before {
  background-color: #f88600;
}

.article-details .details .content a:last-child::after {
  height: 0;
}

.article-details .details .content a:hover:not(.active) {
  text-decoration: none;
  padding-left: 5px;
  color: #000;
}

.article-details .details .content a.active:hover {
  text-decoration: none;
  color: #f88600;
}

.article-details .details .other-articles .border-bottom {
  border-bottom: 1px solid #f88600 !important;
}

.share {
  background-color: #fff;
}

.share a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.share a#in {
  background-color: #ff1887;
}

.share a#fb {
  background-color: #0d448f;
}

.share a#tw {
  background-color: #1899f6;
}

.share a#wa {
  background-color: #77dfb3;
}

.share a:hover {
  color: #fff;
  transform: scale(1.1);
}

.about-elton .header .eltn {
  max-height: 212px;
}

.about-elton .header .container .abs {
  top: 50px;
}

@media screen and (min-width: 768px) {
  .about-elton .header .container .abs {
    top: 20px;
  }
}

.testimony-details .header .container .abs {
  top: 10px;
}

@media screen and (min-width: 400px) {
  .testimony-details .header .container .abs {
    top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .testimony-details .header .container .abs {
    top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .testimony-details .header .container .abs {
    top: 30px;
  }
}

.testimonials .header .container .abs {
  top: 50px;
}

.testimonials a:hover {
  text-decoration: none;
}

.testimonials a:hover .card {
  transform: scale(1.05);
}

.testimonials a .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
}

.testimonials a .card h3 {
  font-size: 20px;
}

.testimonials a .card .card-footer:last-child {
  border-top: none;
}

.auth .row {
  min-height: 100vh;
}

.auth img {
  width: 150px;
  height: auto;
}

.auth p {
  font-size: 20px;
}

.auth .form-group {
  position: relative;
}

.auth .form-group input {
  padding-left: 40px;
}

.auth .form-group input:focus {
  box-shadow: none;
  outline: none;
}

.auth .form-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.auth .form-group input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.auth .form-group input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.auth .form-group i {
  position: absolute;
  left: 15px;
  top: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.auth button {
  transition: all 300ms ease-in;
}

.auth button:hover {
  transform: scale(0.98);
}

.footer a:hover {
  color: #fff !important;
  text-decoration: none;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}

.pagination li {
  margin: 0 10px;
}

.pagination li a {
  color: #f88600;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}

.pagination li a:hover {
  text-decoration: none;
}

.pagination li.active a {
  background: #f88600;
  color: #fff;
}
